<body>
  <div class="row">
    <p class='mr-auto col-12'>Discount No <%= @discount.id %></p>
  </div>
  <div class='mr-auto col-10'>
    <ul>
      <li>Percentage Discount: <%= @discount.percentage_discount %></li>
      <li>Quantity Threshold: <%= @discount.quantity_threshold %></li>
    </ul>
</body>
