<div class="nav-container">
  <nav class="navbar navbar-expand-lg">
    <p class="navbar-text">Admin Dashboard</p>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Dashboard', admin_dashboard_index_path, class: 'link_1', style: 'pull-right' %><br>
      <%= link_to 'Merchants', admin_merchants_path,class: 'link_1', style: 'pull-right' %><br>
      <%= link_to 'Invoices', admin_invoices_path,class: 'link_1', style: 'pull-right' %></li>
    </ul>
  </nav>
</div>

<body>
  <div class="row">
    <p class='col-12'>Invoices</p>
  </div>
  <ul class='mr-auto col-10'>
  <% @invoices.each do |i| %>
    <li><%= link_to "Invoice ##{i.id}", admin_invoice_path(i) %></li>
  <% end %>
  </ul>
</body>
